<div>Am I logged in:
  {{logged_in}}
</div>
<div>
  Who am I:
  {{userName}}
</div>
{{#if logged_in}}
  <a href="/dashboard"><button>My Dashboard</button></a>
  <button class="logout">Logout</button>
  <script src="/logout.js"></script>
{{else}}
  <a href="/user/login"><button>Login</button></a>

{{/if}}