{{#if logged_in}}
  <div> Welcome {{userName}}!</div>
  <a href="/dashboard"><button class="dashboardBtn button is-light">My Dashboard</button></a>
  <button class="logout button is-light">Logout</button>

{{else}}
  <div class="loginLine">
    <p>
      Welcome! Log in to share your thoughts!
    </p>
    <a id="loginBtn" class="button is-light" href="/user/login">
      Login
    </a>
  </div>

{{/if}}

<script src="/logout.js"></script>