<div class="post-card">
  <h2 class="page-title">Enter a new post</h2>
  <form class="newPostForm">
    <div class="form-group">
      <label for="commentTitle">Title</label>
      <input class="form-input" type="text" id="newPostTitle" value="" />
    </div>
    <div class="form-group">
      <label for="commentContent">Post</label>
      <input class="form-input" type="text" id="newPostContent" value="" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Post new topic </button>
    </div>
  </form>
</div>