<div class="comment-card">
  <h2 class="page-title">Enter a new comment</h2>
  <form class="form">
    <div class="form-group">
      <label for="commentTitle">Title</label>
      <input class="form-input" type="text" id="commentTitle" value="" />
    </div>
    <div class="form-group">
      <label for="commentContent">Post</label>
      <input class="form-input" type="text" id="commentContent" value="" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit Comment</button>
    </div>
  </form>
</div>