<h2>FROM COMMENT PAGE</h2>
<a href="/">Homepage</a>

{{>general-userInfo}}

{{>commentPage-thisPost}}

{{>commentPage-newComment}}

{{#each commentData}}
{{>commentPage-singleComment}}
{{/each}}

<script src="/newComment.js"></script>