<div class="box">
    Welcome to the dashboard {{userName}}!
</div>

{{>dashboardPage-newPost}}

{{#each postArr as |post|}}
{{>dashboardPage-singlePost}}
{{/each}}

{{!-- {{logged_in}}
{{userId}} --}}


<script src="newPost.js"></script>
<script src="postDeleteHandler.js"></script>