<form class="editPostForm">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="email-signup" class="label">Edit title</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            value="{{thisPostContent.title}}"
            id="postReviseTitle"
          /></input>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Edit post</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            value="{{thisPostContent.content}}"
            id="postReviseContent"
          ></input>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button 
          class="button is-success" 
          id="revisePostBtn" 
          value="{{thisPostContent.id}}"
          type="submit">
            Finish editing
          </button>
        </div>
      </div>
    </div>
  </div>

</form>

<script src="/editHandler.js"></script>