<form class="signup-form">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="email-signup" class="label">Username</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="username"
            placeholder="Choose a username"
            id="username-signup"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Email</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="email"
            placeholder="john.doe@gmail.com"
            id="email-signup"
          ></input>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Password</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="password"
            placeholder="P@SSW0RD"
            id="password-signup"
          ></input>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-success" type="submit">
            Sign up
          </button>
        </div>
      </div>
    </div>
  </div>

</form>

<script src="/signup.js"></script>
