* {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(100, 100, 100);
}

.header {
  height: 100px;
  width: 100px;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-weight: 900;
}

#homePageBtn {
  display: flex;
  flex-direction: row;
  margin: 20px;
  font-size: 20pt;
  color: black;
}

.generalContent {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.generalContent > * {
  margin: 10px;
}

.minorContent {
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header {
  margin-left: 5%;
  margin-right: 5%;
}

.card-header:hover {
  color: white;
  background-color: lightgreen;
  transition: 0.5s;
}

.card-header > *:hover {
  color: grey;
  transition: 0.5s;
}

.footer {
  height: 10%;
}

.loginLine {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.dashboardBtn {
  width: 200px;
}

.logout {
  width: 200px;
}

#loginBtn {
  width: 100px;
}

.is-rounded {
  width: 100px;
}

.singlePost {
  display: flex;
  flex-direction: column;
}

.box-header {
  font-weight: 900;
  margin: 10px;
}

.box-content {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-post-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-minorContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
}

.box-minorContent > * {
  margin: 10px;
}
